<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="myButton" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}"/>
        <script type="text/javascript" th:src="@{/jscript/button.js}"></script>
    </head>

    <div style="position: absolute; left: 10px; top: 40px;">
        <img src="https://cdn4.iconfinder.com/data/icons/arrows-9/100/arrow-11-512.png" id="myBtn" width="30" height="24" onclick="topFunction();" />
    </div>

</div>
