#con .well {
    height:400px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}


.mydiv {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.nav {
    background-color: #000 !important;
}

.nav>li>a {
    background-color: #666 !important;
    color: #fff;
}