<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>


<!--<div class="container"> makes margin and padding nice-->
<div style="text-align:center ;font-weight:bold;font-size:30px" class="shadow p-3 mb-5 bg-white rounded">Coronavirus Tracker Application</div>


<div class="container">

    <p class="fw-normal">This application lists the current number of cases reported across the globe.</p>

    <p class="fw-light"> All information you see on this page is taken from this repository
        <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Link</a> <!-- open tab when click on link target="_blank"-->
    </p>


    <div class="alert alert-success" role="alert">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <hr>
        <p class="mb-0">Total cases reported as of today.</p>
    </div>


    <div class="alert alert-warning" role="alert">
        <span>New Cases reported since previous day</span>
        <span th:text="${totalNewCases}"></span>
    </div>

    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>

    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tbody id="myTable">
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>


</html>

