<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" charset="UTF-8" name="viewport" content="width=device-width, text/html, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/tailwind.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hover_home.css}"/>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</head>


<body>

<div th:insert="fragments/navbar_without_searchbar.html::myNavBarWithoutSearchBar"></div>


<div class="box3">
    <img src="https://www.plasticscm.com/images/art/wallpapers/plastic-wallpaper-stay-at-home-2-1280x800.png?v=GYDuKpIV58Ih3uLwl5wqqBvJjy4sC6PHQ9rCvsSjVSs">
    <div class="box-content">
        <h3 class="title shape fw-bolder">Coronavirus Tracker Application</h3>

        <div class=" myParagraphWidth">


            <p class="description blockquote tinted-image" style="padding: 10px 15px">
                Protect yourself and others by making these 6 simple precautions your new habits.
                <br>
                &bull; Clean your hands often.
                <br>
                &bull; Cough or sneeze in your bent elbow - not your hands.
                <br>
                &bull; Avoid touching your eyes, nose and mouth.
                <br>
                &bull; Limit social gatherings and time spent in crowded places.
                <br>
                &bull; Avoid close contact with someone who is sick.
                <br>
                &bull; Clean and disinfect frequently touched objects and surfaces.
                <br>
                <br>
                This application lists the current number of new cases,recovered and dead reported across the globe.
            </p>
        </div>
    </div>


</div>


<footer class="bg-light text-center text-lg-start">

    <div class="text-center p-3" style="background-color: rgb(245,235,218)">

        <p class="fw-normal"> All information you see on this page is taken from this
            <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">repository</a> <!-- open tab when click on link target="_blank"-->
        </p>
        <p class="fw-light"> © 2021 Copyright:
            <a href="https://github.com/faramarzaf" target="_blank">FaramarzAfzali</a>
        </p>
    </div>

</footer>

</body>

</html>

